name: Tests
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
  # The Unleash API could drift unexpectedly (like most SaaS systems, etc.), so its recommended testing 
  # at a regular interval not necessarily tied to code changes. This will 
  # ensure we are alerted to something breaking due to an API change, even if the code did not change.
  # TODO: Enable schedule when enabling the acceptance tests.
  # schedule:
  #   - cron: '0 13 * * *'
jobs:
  # ensure at least the code builds...
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.16'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.4.0

    - name: Get dependencies
      run: |
        go mod download

    - name: Build
      run: |
        go build -v .

  # commented out until an Unleash server we can use is deployed somewhere
  # # run acceptance tests in a matrix with Terraform core versions
  # test:
  #   name: Matrix Test
  #   needs: build
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 15
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       # list whatever Terraform versions here you would like to support
  #       terraform:
  #         - '1.0.7'
  #   steps:

  #   - name: Set up Go
  #     uses: actions/setup-go@v3
  #     with:
  #       go-version: '1.16'
  #     id: go

  #   - name: Check out code into the Go module directory
  #     uses: actions/checkout@v2.4.0

  #   - name: Get dependencies
  #     run: |
  #       go mod download
        
  #   - name: TF acceptance tests
  #     timeout-minutes: 10
  #     env:
  #       TF_ACC: "1"
  #       TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform }}
  #       UNLEASH_API_URL: ${{ secrets.UNLEASH_API_URL }}
  #       UNLEASH_AUTH_TOKEN: ${{ secrets.UNLEASH_AUTH_TOKEN }}

  #     run: |
  #       go test -v -cover ./internal/provider/